.menu {
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-around;
}
.menu-header {
  flex-grow: 1;
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 2rem;
}
.menu-header img {
  height: 50px;
  width: 50px;
}
.menu-item {
  margin: 0 1rem;
  text-decoration: none;
}
