.resources_wrapper {
  height: 100%;
}
.top {
  text-align: center;
  padding: 4rem;
}
.bottom {
  width: 80%;
  margin: 0 auto;
}
.resources_list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  padding: 2rem;
}

.resources_list li {
  width: 225px;
  border-radius: 15px;
  box-shadow: 1px 0px 9px -2px #5b6372;
  padding: 1rem;
}

.image {
  display: flex;
  align-items: center;
  height: 140px;
  margin: 20px 0px;
}

.image img {
  width: 140px;
  margin: 0 auto;
}

.header {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
}