.calendar-container {
  min-height: 100vh;
  padding: 2rem;
}

.calendar-container h1 {
  text-align: center;
}

.calendar-container > h2 {
  text-align: center;
}

.calendar-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: minmax(100px, auto) minmax(100px, auto) minmax(
      100px,
      auto
    ) minmax(100px, auto);
}

.calendar-cell {
  border: 1px solid var(--text-primary);
  padding: 0.25rem;
}
.deleteEvent {
  display: flex;
  justify-content: flex-end;
}
.deleteEvent svg {
  cursor: pointer;
}

.calendar-cell-date {
  text-align: right;
}
