@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header, main {
  background-color: #282c34;
}

header {
  height: 5vh;
}

main {
  height: 95vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
