@font-face {
  font-family: "ProductSans-Regular";
  src: local("ProductSans-Regular"),
    url("./fonts/ProductSans-Regular.woff") format("woff");
  font-weight: normal;
}

:root {
  --background: white;
  --text-primary: black;
}

[data-theme='dark'] {
  --background: #282c34;
  --text-primary: white;
}

* {
  color: var(--text-primary);
  margin: 0;
  font-family:'ProductSans-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

header, main {
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
}
a{
  text-decoration: none;
}