@font-face {
  font-family: "ProductSans-Regular";
  src: local("ProductSans-Regular"),
    url("./fonts/ProductSans-Regular.woff") format("woff");
  font-weight: normal;
}

* {
  color: white;
  margin: 0;
  font-family:'ProductSans-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

header,
main {
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
